*{
    margin: 0;
}
.container{
    /* border: 2px solid red; */
    margin: 40px;
    background-color: bisque;
    /* padding: 5px; */
    border: 2px solid red;
    
}

h1{
    background-color: aquamarine;
    /* margin-bottom: 0; */
    padding: 20px 40px;
    margin-top: 100px;
}

#par1{
    border: 5px solid blue;
    background-color: coral;
    /* margin-top: 0; */
    width: 250px;
    margin: 50px auto;
    padding:20px ;
}

#par2{
    background-color: rgba(100, 148, 237, 0.544);
    /* margin: inherit; */
    /* margin-top: -80px; */
    padding-left: 20px;
    padding-top: 20px;
    

}
