h2{
    text-align: center;
}

#par1{
    color: blue;
    text-align: center;
    text-transform: capitalize;

}

#par2{
    color: rgba(255, 0, 0, 1);
    text-align: right;
    text-transform: lowercase;
    

}

#par3{
    color: #3f16c5;
    text-align: justify;
    text-decoration: line-through dashed  5px red;

}

#par4{
    color: hsl(0, 100%, 50%);
    text-decoration: underline;
    text-indent: 2rem;

}

#par5{
    text-transform: uppercase;

}

#span1{
    color: fuchsia;
    text-decoration: overline wavy blue;
}

