@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-image: url(./img/netflix-background-image\ 1.png); */
}

#container{
    max-width: 1240px;
    height: 1036px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: auto;
    margin-top: 30px;
}

#title{
    font-size: 3.1rem;
    color: white;
    font-family: 'Bowlby One SC', cursive;
}
span{
    color: #ff0000;
}